* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-family: 'Playfair Display', serif;
    background-color: black;
    color: antiquewhite
}

h1{
    text-align: center;
    padding-top: 100px;
    color: rgb(110, 109, 114);
}
.contactme {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 0px;
    width: 100%;
    height: 420px;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 40%;
    height: 400px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

form input {
    border: none;
    height: 50px;
    border-radius: 4px;
    margin-top: 10px;
    background-color: rgb(56, 55, 58);
    padding: 5px;
}

form textarea {
    padding: 5px;
    height: 150px;
    border-radius: 4px;
    margin-top: 10px;
    border: none;
    background-color: rgb(56, 55, 58);
}

form button {
    height: 45px;
    width: 20%;
    border-radius: 4px;
    margin-top: 10px;
    border: none;
    background-color: rgb(192, 124, 47);

}

